<nav class="nav-bar">
    <img src="/images/navbar-image.jpg" class="navbar-image">
    <p>NAME</p>
    <form action="/logout" method="post" class="logout-form">
        <button class="logout-btn">log out</button>
    </form>
</nav>
<main>