<%- include("partials/header.ejs")  %>
<%- include("partials/flash.ejs") %>

<h1>hello</h1>

<form action="/logout" method="post">
    <button>log out</button>
</form>

<%- include("partials/footer.ejs")  %>