<%- include("partials/header.ejs")  %>

<%- include("partials/flash.ejs") %>


    <h1>LOG IN</h1>
    <form action="/login" method="post">
            <input class="email-input" type="email" name="email" placeholder="email"> 
            <span class="password-span">
                <input class="password-input" id="passwordInput" type="password" name="password" placeholder="password">
                <button class="toggle-password"><img src="/images/passwordhideSVG.svg" class="toggle-password-image"></button>
            </span> 
        <button class="submit-btn">log in</button>
    </form>
    <div>
        <a>
           forgot password?
        </a>
    </div>
    <div>
        <a  href="/register">create new account</a>
    </div>

<%- include("partials/footer.ejs")  %>