<%- include("partials/header.ejs")  %>
    <h1>REGISTER</h1>
    <form action="/register" method="post">
            <input id="email-input" type="email" name="email" placeholder="email"> 
            <input id="password-input" type="password" name="password" placeholder="password">
            <input id="repeat-password" type="password" name="repeat-password" placeholder="repeat password">
        <button id="submit-btn" class="submit-btn">register</button>    
    </form>
<%- include("partials/footer.ejs")  %>