*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.nav-bar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    gap: 10px;
    display: flex;
    align-self: center;
    padding-right: 20px;
}

.navbar-image{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 8px;
    margin-right: 4px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-block: 8px;
    width: 300px;
}

form input{
    border-radius: 4px;
    padding: 8px;
    border: 1px solid lightgray;
    width: 200px;
}
.password-span, .register-password-span , .repeat-password-span{
    position: relative;
}
.toggle-password{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    border: 0;
    background: transparent;
    cursor: pointer; 
}
.submit-btn{
    background-color: lightcyan;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
}
.logout-form{
     display: flex;
     justify-content: start;
     align-items: start;
     margin-left: auto;
     width: fit-content;

}
.logout-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: rgb(173, 30, 30);
    cursor: pointer;
}


.flash {
    position: fixed;
    top: 10px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
}

.flash.hide{
    opacity: 0;
}

.flash.success {
    background: #d4edda;
    color: #155724;
}

.flash.error {
    background: #f8d7da;
    color: #721c24;
}




    